{{!-- <div class="container"></div>
<div class="row mt-4">
      <div class="col-lg-6 offset-lg-3"> --}}
        
<h1>Favorite Restaurants List</h1>


 {{!-- <div class='row'>
  <div class='col-md-6 col-lg-4'> --}}
    <div class="container">
     <div class="row">
       
       
      {{#each favorites}}

   <div class="col-md-6 col-lg-4 bg-light.bg-gradient">
   <img src="{{photos}}" alt="{{name}} photo" class="photos">
    <h5>{{name}}</h5>
    <p>{{price_level}}</p>
     <p>{{rating}}</p>
    <a href="{{url}} " class="href">View on Maps</a>
     <a href="{{website}} " class="href">Visit Website</a>
    <p>{{formatted_address}}</p>
    
         <form action="/restaurant/{{this._id}}" method="get" class="">
            <button type="submit">Comments</button>
          </form>
    
    
         <form action="/{{this._id}}/deleteFavorites" method="post" class="">
            <button type="submit">Delete Restaurant</button>
          </form>
    
    
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add to collections
          </button>
            <ul class="dropdown-menu">

            {{#each ../collections}}
              <li class='dropdown-item'>
                <form action="/{{this._id}}/add-to-collection" method='post'>
                  <input type="text" name='restaurant' id='restaurant' value='{{../_id}}' hidden>
                  <button type='submit'>Add to {{this.name}} collection</button>
                </form>
              </li>
            {{/each}}
            
          </ul>
          </div>
      
        {{/each}}

    </div>
   </div>

    
{{!-- 
  {{#each favorites}}
 
    
      <div class='card' style='width: 18rem;'>
        <div class='card-body '>
          <img src="{{photos}}" alt="{{name}} photo" class="photos">
          <h5 class='card-title'>{{name}}</h5>
          <p class='card-text'>{{price_level}}</p>
          <p class='card-text'>{{rating}}</p>
          <a href="{{url}} " class="href">View on Maps</a>
          <a href="{{website}} " class="href">Visit Website</a>
          <p class='card-text'>{{formatted_address}}</p>

          <form action="/restaurant/{{this._id}}" method="get" class="">
            <button type="submit">Comments</button>
          </form>

          <form action="/{{this._id}}/deleteFavorites" method="post" class="">
            <button type="submit">Delete Restaurant</button>
          </form>
      

         <div>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add to collections
          </button>
          <ul class="dropdown-menu">

            {{#each ../collections}}
              <li class='dropdown-item'>
                <form action="/{{this._id}}/add-to-collection" method='post'>
                  <input type="text" name='restaurant' id='restaurant' value='{{../_id}}' hidden>
                  <button type='submit'>Add to {{this.name}} collection</button>
                </form>
              </li>
            {{/each}}
            
          </ul>
        </div>
  </div>
 {{/each}} --}}
 


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
 



