<h1> {{name}} </h1>

<div class='container'>
  <div class='row'>
<form>
   
      <div class='card' style='width: 18rem;'>
        <div class='card-body'>
          <img src="{{photos}}" alt="{{name}} photo" class="">
          <h5 class='card-title'>{{name}}</h5>
          <p class='card-text'>{{price_level}}</p>
          <p class='card-text'>{{rating}}</p>
          <p class='card-text'>{{url}}</p>
           <p class='card-text'>{{formatted_address}}</p>
          <p class='card-text'>{{website}}</p>
          <p class='card-text'>{{url}}</p>

          
        </div>
      </div>
  </div>
</div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>