<h1>My collections</h1>

<form action='/{{_id}}/create-collection' method='post' >
  <label for="name" ></label>
  <input class="createCollectionBar" placeholder="Create a collection"type='text' name='name' id='name'>
  <button type='submit'>Create</button>
</form>


<div class='container'>
  <div class='row'>

    {{#each collections}}
      
        <a href="/collection/{{this._id}}" class="myCollectionButton"><h1>My Collection:     {{name}}</h1></a>

        <form action="/collection/{{this._id}}/delete" method="post">
         <button type="submit" class="btn btn-dark" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"> Delete Collection</button>
        </form>
        <div class="hr-theme-slash-2">
       <div class="hr-line"></div>
       <div class="hr-icon"><img src="/images/e-icon.png" alt="imageE" class="material-icons"></div>
      <div class="hr-line"></div>
</div>
    {{/each}}
  </div>
</div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>

