<h1>Wishlist</h1>

<div class="container">
     <div class="row">
       
      {{#each wishlist}}

   <div class="col-6 col-md-4">
   <img src="{{photos}}" alt="{{name}} photo" class="photos">
    <h5>{{name}}</h5>
    <p>{{price_level}}</p>
     <p>{{rating}}</p>
    <a href="{{url}} " class="href">View on Maps</a>
     <a href="{{website}} " class="href">Visit Website</a>
    <p>{{formatted_address}}</p>
    
        <form action="/wishtofavorites/{{this._id}}" method="post" class="">
              <button type="submit">Add to Favorites</button>
            </form>

            <form action="/{{this._id}}/deleteWishlist" method="post" class="">
              <button type="submit">Delete from wishlist</button>
            </form>

        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add to collections
          </button>
            <ul class="dropdown-menu">

            {{#each ../collections}}
              <li class='dropdown-item'>
                <form action="/{{this._id}}/add-to-collection" method='post'>
                  <input type="text" name='restaurant' id='restaurant' value='{{../_id}}' hidden>
                  <button type='submit'>Add to {{this.name}} collection</button>
                </form>
              </li>
            {{/each}}
            
          </ul>
          </div>
      
        {{/each}}

    </div>
   </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

   

