<h1>Wishlist</h1>

<div class='container'>
  <div class='row'>
<form>
    {{#each wishlist}}
      <div class='card' style='width: 18rem;'>
        <div class='card-body'>
        <img src="{{photos}}" alt="{{name}} photo" class="">
          <h5 class='card-title'>{{name}}</h5>
          <p class='card-text'>{{price_level}}</p>
          <p class='card-text'>{{rating}}</p>
          <a href="{{url}} " class="href">View on Maps</a>
          <a href="{{website}} " class="href">Visit Website</a>
          <p class='card-text'>{{formatted_address}}</p>
          <a href="{{review}} " class="href">View Comments</a>
        </div>
      </div>

        <form action="/wishtofavorites/{{this._id}}" method="post" class="">

          <button type="submit">Add to Favorites</button>

          </form>


    {{/each}}
  </div>
</div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

   

